.listItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  position: relative;

  > button {
    display: none;
  }

  &:hover {
    border-color: var(--border-color);
    background-color: var(--bg-color);

    > button {
      background-color: var(--white);
      min-width: 1px;
      padding: 0;
      display: block;
    }
  }
}

.votes {
  width: 72px;
  height: 72px;
  font-size: 12px;
  text-align: center;
  display: block;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 10px;

  span {
    font-size: 30px;
    font-weight: 700;
    display: block;
  }
}

.content {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .name {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
  }

  .url {
    margin: 0 0 10px;
    font-size: 11px;
    font-weight: 400;
    opacity: 0.7;
    word-break: break-all;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
      opacity: 1;
    }

    svg {
      font-size: 10px;
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-between;

  button {
    font-size: 12px;
    font-weight: 500;
    padding: 3px 5px;
    background-color: transparent;
    border: none;
    border-radius: var(--border-radius);
    opacity: 0.7;
    cursor: pointer;

    &:hover {
      background-color: var(--bg-color-darker);
      color: var(--black);
      opacity: 1;
    }

    svg {
      margin-right: 5px;
    }
  }
}

.delete {
  position: absolute;
  right: -15px;
  top: -15px;
  width: 30px;
  height: 30px;
  padding: 0;
  text-align: center;
  font-size: 30px;
  color: var(--red);
  background-color: var(--white);
  box-shadow: 3px 3px 10px 0px var(--border-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}
