:root {
  --white: #ffffff;
  --black: #000000;
  --red: #ff0000;
  --bg-color: rgba(0,0,0, 0.07);
  --bg-color-darker: rgba(0,0,0, 0.1);
  --border-color: rgba(0,0,0, 0.2);
  --border-radius: 5px;
}
