.inputField {
  margin-bottom: 15px;
  font-size: 14px;

  input {
    padding: 8px 10px;
    width: 100%;
    display: block;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    margin-top: 3px;
  }

  .error {
    display: none;
    margin-top: 3px;
    font-size: 10px;
  }
}

.hasError {
  input {
    border: 1px solid var(--red);
  }

  .error {
    display: block;
    color: var(--red);
  }
}
