.inputField {
  margin-bottom: 10px;
  font-size: 14px;

  input {
    padding: 8px 10px;
    width: 100%;
    display: block;
    border: 1px solid rgba(0,0,0, 0.2);
    border-radius: 3px;
    margin-top: 3px;
  }

  span {
    display: none;
    margin-top: 3px;
    font-size: 10px;
  }
}

.error {
  label {
    color: var(--red) !important;
  }

  input {
    border: 1px solid var(--red) !important;
  }

  span {
    display: block !important;
    color: var(--red) !important;
  }
}
