.link {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(0,0,0, 0.03);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  text-decoration: none;
  color: var(--black);
  font-size: 24px;
  font-weight: 700;

  &:hover {
    background-color: var(--bg-color-darker);
  }
}

.iconContainer {
  width: 72px;
  height: 72px;
  line-height: 72px;
  text-align: center;
  font-size: 30px;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  margin-right: 20px;
}
